@use '/src/styles/mixins' as *;

:host {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem;
  border-radius: 0.8rem;
  transition: 250ms ease background-color;

  &:hover,
  &:focus-visible {
    background-color: hsl(0, 0%, 100%, 0.15);
  }

  &:active {
    background-color: hsl(0, 0%, 100%, 0.3);
  }

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  &[variant="icon"] {
    @include size(2.4em);
  }
}
