@use '/src/styles/mixins' as *;

:host {
  position: relative;
}

.foreground {
  display: grid;
  grid-template-rows: min-content 1fr;
  grid-template-columns: minmax(0, 1fr);
  align-items: center;
  gap: 3.2rem;
  min-height: 100vh;
  min-height: 100dvh;
  @include padding-y(4rem);
}

.error {
  text-align: center;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
  width: 100%;
}

app-weather-form {
  flex: 1;
}

app-weather-bg {
  grid-row: 1 / -1;
  z-index: -1;
}

app-loader {
  margin-inline: auto;
}
