<ng-container *ngIf="vm$ | async as vm">
  <header class="container">
    <button (click)="handleCoordsBtnClick()">
      <fa-icon [icon]="positionIcon" />
    </button>

    <app-weather-form
      [(cityName)]="cityName"
      (submit)="handleSubmit()"
    ></app-weather-form>
  </header>

  <ng-container *ngIf="!vm.loading; else loader">
    <div *ngIf="vm.error">
      {{ vm.error }}
    </div>

    <app-weather-card
      *ngIf="vm.weatherData"
      [weatherReport]="vm.weatherData"
    ></app-weather-card>
  </ng-container>
</ng-container>

<ng-template #loader>
  <div>Carregando...</div>
</ng-template>
