<ng-container *ngIf="vm$ | async as vm">
  <app-weather-bg [condition]="vm.condition"></app-weather-bg>

  <div class="foreground">
    <header class="container">
      <button
        app-button
        (click)="handleCoordsBtnClick()"
        variant="icon"
        title="Usar localização atual"
      >
        <fa-icon [icon]="positionIcon" size="lg" />
      </button>

      <app-weather-form
        [(cityName)]="cityName"
        (onSubmit)="handleSubmit()"
      ></app-weather-form>
    </header>

    <div class="container">
      <ng-container *ngIf="!vm.loading; else loader">
        <div class="error" *ngIf="vm.error">
          <b>{{ vm.error }}</b>
        </div>

        <app-weather-card
          *ngIf="!vm.error && vm.weatherData"
          [weatherReport]="vm.weatherData"
          [conditon]="vm.condition"
        ></app-weather-card>
      </ng-container>
    </div>
  </div>
</ng-container>

<ng-template #loader>
  <app-loader></app-loader>
</ng-template>
