@use '/src/styles/mixins' as *;

header {
  text-align: center;
}

h2 {
  font-weight: 500;
}

.condition-icon {
  font-size: 12.8rem;
  filter: drop-shadow(-2px 2px 4px hsla(0, 0, 0%, 0.3));
}

.temperature {
  font-size: 4rem;
  font-weight: bold;
}

.description {
  text-transform: capitalize;
}
