<div class="container" *ngIf="weatherReport">
  <app-weather-card-header
    [cityName]="weatherReport.name"
    [temp]="weatherReport.main.temp"
    [tempFeelsLike]="weatherReport.main.feels_like"
  ></app-weather-card-header>

  <div class="lower-data">
    <div class="more-info-label">Mais informações</div>

    <div class="more-info-container">
      <div class="info-block">
        <div class="info-block-label">
          <fa-icon size="lg" [icon]="minTempIcon"></fa-icon>
          <span>Mínima</span>
        </div>
        <div class="info-block-value">{{ weatherReport.main.temp_min }}˚C</div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <fa-icon size="lg" [icon]="maxTempIcon"></fa-icon>
          <span>Máxima</span>
        </div>
        <div class="info-block-value">{{ weatherReport.main.temp_min }}˚C</div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <fa-icon size="lg" [icon]="humidityIcon"></fa-icon>
          <span>Umidade</span>
        </div>
        <div class="info-block-value">{{ weatherReport.main.humidity }}</div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <fa-icon size="lg" [icon]="windIcon"></fa-icon>
          <span>Vento</span>
        </div>
        <div class="info-block-value">{{ weatherReport.wind.speed }} km/h</div>
      </div>
    </div>
  </div>
</div>
