<div class="container" *ngIf="weatherReport">
  <app-weather-card-header
    [cityName]="weatherReport.name"
    [temp]="weatherReport.main.temp"
    [tempFeelsLike]="weatherReport.main.feels_like"
  ></app-weather-card-header>

  <div class="lower-data">
    <div class="more-info-label">Mais informações</div>

    <div class="more-info-container">
      <app-weather-card-info
        label="Mínima"
        [icon]="minTempIcon"
        [value]="weatherReport.main.temp_min | temperature : 2"
        class="info-block"
      ></app-weather-card-info>

      <app-weather-card-info
        label="Máxima"
        [icon]="maxTempIcon"
        [value]="weatherReport.main.temp_max | temperature : 2"
        class="info-block"
      ></app-weather-card-info>

      <app-weather-card-info
        label="Umidade"
        [icon]="humidityIcon"
        [value]="weatherReport.main.humidity"
        class="info-block"
      ></app-weather-card-info>

      <app-weather-card-info
        label="Vento"
        [icon]="windIcon"
        [value]="weatherReport.wind.speed"
        class="info-block"
      ></app-weather-card-info>
    </div>
  </div>
</div>
